* {
  margin: 0;
  padding: 0;
}

:root {
    --sidebar-bg-color: rgb(2, 144, 226);
}
body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-row: 1 / 3;
    height: 100vh;
    display: grid;
    grid-template-rows: 20px 112px 60px;
    gap: 50px;
    background-color: var(--sidebar-bg-color);
    color: white;
}

/*
.dashboard {
    border: 2px solid red;
}
.menu-first-list {
    border: 2px solid blue;
}
.menu-second-list {
    border: 2px solid green;
}
*/
.header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 3fr 1fr;
}

.search-bar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.search-bar-icon {
    background-color: gray;
    height: 20px;
    width: 20px;
}

.search-bar {
    background-color: rgb(218, 225, 229);
    height: 20px;
    width: 300px;
    border-radius: 20px;
}

.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.notification-bell {
    background-color: gray;
    height: 20px;
    width: 20px;
}

.profile-icon-small {
    background-color: black;
    height: 20px;
    width: 20px;
}

.profile-icon-big {
    background-color: rgb(255, 213, 0);
    height: 50px;
    width: 50px;
}

.introduction {
    display: flex;
    align-items: center;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    background-color: var(--sidebar-bg-color);
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects-section {
    grid-row: 1 / 3;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.card {
    height: 100px;
}