* {
  margin: 0;
  padding: 0;
}

:root {
    --sidebar-bg-color: rgb(2, 144, 226);
    --profile-icon-small-size: 35px;
    --options-icon-size: 20px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    grid-row: 1 / 3;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 50px 230px 90px;
    gap: 40px;
    background-color: var(--sidebar-bg-color);
    color: white;
    padding-right: 40px;
}

.dashboard,
.menu-first-list,
.menu-second-list {
    list-style-type: none;
}

.dashboard {
    padding-top: 20px;
    font-size: 25px;
}

.dashboard li {
    padding-left: 60px;
    position: relative;
    font-weight: bold;
}

.dashboard li::before {
    content: url('assets/view-dashboard.svg');
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    margin-left: 12px;
    filter: invert(1);
}

.menu-first-list li,
.menu-second-list li {
    padding-left: 60px;
    margin-bottom: 20px;
    position: relative;
    font-weight: bold;
    font-size: 17px;
}

.menu-first-list li::before,
.menu-second-list li::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-left: 20px;
    filter: invert(1);
}

.menu-first-list li.home::before {
    background-image: url('assets/home.svg');
}

.menu-first-list li.profile::before {
    background-image: url('assets/profile.svg');
}

.menu-first-list li.message::before {
    background-image: url('assets/message.svg');
}

.menu-first-list li.history::before {
    background-image: url('assets/history.svg');
}

.menu-first-list li.tasks::before {
    background-image: url('assets/tasks.svg');
}

.menu-first-list li.communities::before {
    background-image: url('assets/communities.svg');
}

.menu-second-list li.settings::before {
    background-image: url('assets/settings.svg');
}

.menu-second-list li.support::before {
    background-image: url('assets/support.svg');
}

.menu-second-list li.privacy::before {
    background-image: url('assets/privacy.svg');
}

.header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 3fr 1fr;
}

.search-bar-section {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 30px;
}

.search-bar-icon {
    background-image: url('assets/search.svg');
    height: 20px;
    width: 20px;
}

.search-bar {
    background-color: rgb(235, 239, 243);
    height: 25px;
    width: 500px;
    border-radius: 20px;
}

.profile-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    padding-right: 50px;
}

.notification-bell {
    background-image: url('assets/notification-bell.svg');
    height: 20px;
    width: 20px;
}

.profile-icon-small {
    background-image: url('assets/penguin.svg');
    background-size: cover;
    height: var(--profile-icon-small-size);
    width: var(--profile-icon-small-size);
}

.profile-icon-big {
    background-image: url('assets/penguin.svg');
    background-size: cover;
    height: 60px;
    width: 60px;
}

.introduction {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 30px;
    padding-bottom: 15px;
    font-weight: bold;
    font-family: sans-serif;
}

.welcome-message .hello {
    font-size: 12px;
    margin-bottom: 5px;
}

.welcome-message .name-big {
    font-size: 20px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
    font-weight: bold;
    font-size: 15px;
}

button {
    background-color: var(--sidebar-bg-color);
    border: none;
    color: white;
    padding: 10px 27px;
    border-radius: 20px;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(235, 239, 243);
    box-shadow: 0 3px 3px rgb(204, 204, 204) inset;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.projects-section {
    grid-row: 1 / 3;
    padding-left: 20px;
    padding-right: 20px;
}

.projects-section .title, 
.announcements-section .title,
.trending-section .title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.card {
    position: relative;
    height: 150px;
    background: linear-gradient(to right, rgb(255, 183, 0) 2%, white 2%);
    border-radius: 10px;
    box-shadow: 0 3px 3px rgb(204, 204, 204);
}

.card-title {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 14px;
    padding-left: 25px;
    padding-top: 25px;
    margin-bottom: 3px;
}

.options {
    position: absolute;
    bottom: -50px;
    right: 20px;
    display: flex;
    gap: 20px;
    height: calc(100% - 60px);
}

.favorite {
    background-image: url('assets/favorite.svg');
    width: var(--options-icon-size);
    height: var(--options-icon-size);
}

.visibility {
    background-image: url('assets/visibility.svg');
    width: var(--options-icon-size);
    height: var(--options-icon-size);
}

.fork {
    background-image: url('assets/fork.svg');
    width: var(--options-icon-size);
    height: var(--options-icon-size);
}

p {
    color: rgb(160, 160, 160);
}

.card-description {
    padding-left: 25px;
    font-size: 12px;
    padding-right: 25px;
}

.announcements {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgb(204, 204, 204);
    padding: 25px;
}

.tab-title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 3px;
}

.tab-description {
    font-size: 10px;
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.announcements .tab:last-child .tab-description {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.trending-section {
    padding-top: 30px;
}

.trending {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgb(204, 204, 204);
    padding: 18px;
}

.trending .tab {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    gap: 15px;
}

.trending .tab:last-child {
    padding-bottom: 0;
}

.profile-icon-1 {
    background-image: url('assets/lion.svg');
    background-size: cover;
    height: var(--profile-icon-small-size);
    width: var(--profile-icon-small-size);
}

.profile-icon-2 {
    background-image: url('assets/fly.svg');
    background-size: cover;
    height: var(--profile-icon-small-size);
    width: var(--profile-icon-small-size);
}

.profile-icon-3 {
    background-image: url('assets/fish.svg');
    background-size: cover;
    height: var(--profile-icon-small-size);
    width: var(--profile-icon-small-size);
}

.profile-icon-4 {
    background-image: url('assets/lizard.svg');
    background-size: cover;
    height: var(--profile-icon-small-size);
    width: var(--profile-icon-small-size);
}

.username {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 3px;
}

.project-name {
    font-size: 12px;
}