* {
  margin: 0;
  padding: 0;
}

:root {
    --sidebar-bg-color: rgb(2, 144, 226);
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    font-family: sans-serif;
}

.sidebar {
    grid-row: 1 / 3;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 230px 90px;
    gap: 40px;
    background-color: var(--sidebar-bg-color);
    color: white;
    padding-right: 40px;
}

.dashboard,
.menu-first-list,
.menu-second-list {
    list-style-type: none;
}

.dashboard {
    padding-top: 20px;
    font-size: 25px;
}

.dashboard li {
    padding-left: 60px;
    position: relative;
}

.dashboard li::before {
    content: url('assets/view-dashboard.svg');
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    margin-left: 12px;
    filter: invert(1);
}

.menu-first-list li,
.menu-second-list li {
    padding-left: 60px;
    margin-bottom: 20px;
    position: relative;
}

.menu-first-list li::before,
.menu-second-list li::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-left: 20px;
    filter: invert(1);
}

.menu-first-list li.home::before {
    background-image: url('assets/home.svg');
}

.menu-first-list li.profile::before {
    background-image: url('assets/profile.svg');
}

.menu-first-list li.message::before {
    background-image: url('assets/message.svg');
}

.menu-first-list li.history::before {
    background-image: url('assets/history.svg');
}

.menu-first-list li.tasks::before {
    background-image: url('assets/tasks.svg');
}

.menu-first-list li.communities::before {
    background-image: url('assets/communities.svg');
}

.menu-second-list li.settings::before {
    background-image: url('assets/settings.svg');
}

.menu-second-list li.support::before {
    background-image: url('assets/support.svg');
}

.menu-second-list li.privacy::before {
    background-image: url('assets/privacy.svg');
}

.header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 3fr 1fr;
}

.search-bar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.search-bar-icon {
    background-color: gray;
    height: 20px;
    width: 20px;
}

.search-bar {
    background-color: rgb(218, 225, 229);
    height: 20px;
    width: 300px;
    border-radius: 20px;
}

.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.notification-bell {
    background-color: gray;
    height: 20px;
    width: 20px;
}

.profile-icon-small {
    background-color: black;
    height: 20px;
    width: 20px;
}

.profile-icon-big {
    background-color: rgb(255, 213, 0);
    height: 50px;
    width: 50px;
}

.introduction {
    display: flex;
    align-items: center;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    background-color: var(--sidebar-bg-color);
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects-section {
    grid-row: 1 / 3;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.card {
    height: 100px;
}